# This is the main EmuLinker-K configuration file.
# This file is read on startup of the server, so you must restart the server
# to pickup any changes. Don't forget to edit access.cfg also.

# Any line that starts with # is considered a comment and will not be processed

# LANGUAGE AND CHARACTER SET
# =====================
# The charset name used most commonly by your clients. If set incorrectly,
# some characters will not display as expected.
# Common values: English: Cp1252, Cyrillic: Cp1251; Korean: Cp949, Japanese: Shift_JIS
# https://www.iana.org/assignments/character-sets/character-sets.xhtml
# Do not use UTF-8 unless your clients support it (most if not all do not).
emulinker.charset=Shift_JIS

# SERVER LISTS
# =====================
# A name to identify your server.
masterList.serverName=Local Dev Server
# Location of the server to display in the server lists.
masterList.serverLocation=Unknown
# A website to promote alongside your server.
masterList.serverWebsite=https://github.com/hopskipnfall/EmuLinker-K
# Explicit connect address in cases where your server uses NAT. Leave this
# blank unless required by your firewall.
# TODO(nue): Investigate if this is true.
masterList.serverConnectAddress=
# Set to true if you want your server included in the Kaillera servers list.
masterList.touchKaillera=false
# Set to true if you want your server included in the Emulinker servers list.
masterList.touchEmulinker=false

# GAME PERFORMANCE CONFIGURATION
# ==============================
# Buffer size for the game data queue.  Increasing this will not improve
# performance.  Should be equal to at least the largest single game packet.
game.bufferSize=1024

# ========================
# OPTIONAL CONFIGURATION
# ========================

 # Maximum number of milliseconds to wait for other player's data before a
 # timeout retry is generated.
game.timeoutMillis=100

# AUTOFIRE DETECTION CONFIGURATION
# ================================
# Autofire detection is a cheat protection feature that will scan player's data
# during the game for button presses so fast they're humanly impossible, also
# known as turbo button or rapid fire.  Most people consider this cheating.
# If the server detects autofire, it will print a message in the game and the
# emulinker.log file so all players know who's using autofire.
# Autofire detection sensitivity controls the threshold of how rapid a button
# press is considered true autofire.  Sensitivity values [1-5], 0 to disable.
#
# game.defaultAutoFireSensitivity=0 : AUTOFIRE DETECTION DISABLED
#
# game.defaultAutoFireSensitivity=1 : MINIMUM SENSITIVITY; no chance of a false
#                                     alert but may miss some autofire users
#
# game.defaultAutoFireSensitivity=5 : MAXIMUM SENSITIVITY; should alert on most
#                                     autofire users but could produce false
#                                     alerts for people with very fast fingers
#
game.defaultAutoFireSensitivity=0

# Enables server metrics to be monitored and logged.
metrics.enabled=true
# How often the metrics should be saved to a file in seconds.
metrics.loggingFrequencySeconds=120
